:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%!important;
    line-height: 1.6rem!important;
    font-family: Arial, Helvetica, sans-serif!important;
    box-sizing: border-box!important;
}
.gridd{
    width: 1200px!important;
    max-width: 100%!important;
    margin: 0 auto!important;
}
.grid__full-width{
    width: 100%!important;
}
.grid__columnn-2{
    padding-left: 12px!important;
    padding-right: 12px!important;
    width: 16.6667%!important;
}
.grid__columnn-10{
    padding-left: 12px!important;
    padding-right: 12px!important;
    width: 83.334%!important;
}
.grid__column-2-4{
    padding-left: 12px!important;
    padding-right: 12px!important;
    width: 20%!important;
    margin: 16px 16px!important;
    display: block!important;
}
.grid__roww{
    display: flex!important;
    flex-wrap: wrap!important;
    margin-left: -50px!important;
    margin-right: -12px!important;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(0.7);
    }
    to {
        transform: scale(1);
    }
}
.modal{
    position: fixed!important;
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
    left: 0!important;
    display: flex!important;
    animation: fadeIn linear 0.1s!important;
}
.modal__overplay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

}
.modal__body{
   height: 500px;
   width: 500px;
   margin: auto;
   position: relative;
   z-index: 1;
   border-radius: 20px;
   animation: growth linear 0.1s;
}
/* Button style */
.btn{
    min-width: 142px!important;
    height: 36px!important;
    text-decoration: none!important;
    border: none!important;
    border-radius: 3px!important;
    font-size: 1.2rem!important;
    padding: 0 12px!important;
    cursor: pointer!important;
}
.btn.btn-normal:hover{
    background-color: rgba(0, 0, 0, 0.1)!important;
}
.btn.btn--primary{
    color: white!important;
    background-color: #fe6433!important;
}
.btn.btn-disabled{
    cursor: default!important;
    color: #ccc!important;

}
.btn.btn__size-s{
    height: 32px!important;
    font-size: 12px!important;
    padding: 5px 8px!important;
    margin-top: 10px!important;

}
